.film_item {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #f2f2f3;
}

.film_btns {
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

